	<div class= "jumbotron center">
    <h1>Welcome to gTrack</h1>
    <h2>Get all the info you need about your most favorite games</h2>
    <p><%= link_to "Sign up or log in", '#', class: "btn btn-danger btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Games as Guest User
    </h3>
    <h2 class="left">Browse and view games as a guest and Sign up later</h2>
    <p><%= link_to "Browse Games Listings", href="#", class: "btn btn-primary btn-xlarge" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Sign in to your account
    </h3>
    <h2 class="left">Add/update your profile, reviews/like-dislike games and much much more!</h2>
    <p><%= link_to "Log in to your account",  href="#", class: "btn btn-primary btn-xlarge" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Join the Chatroom
    </h3>
    <h2 class="left">Get in touch with other gamers</h2>
    <p><%= link_to "Head to Chatroom", "", class: "btn btn-primary btn-xlarge" %></p>
  </div>
</div>