<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "gTrack", root_path, class: "btn btn-lg btn-success", id: "logo" %>
    <ul class="nav_ul_item">
      <li class="dropdown">
          <%= link_to '#', class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
            Styles <b class="caret"></b>
          <% end %>
          
        </li>
    </ul>
    
    
    

  </div>
</header>